.task-box {
  background-color: #abc;
  padding: 6px;
  margin: 5px 0;
  cursor: pointer;
}

.task-box.reminder {
  border-left: 5px solid green;
}

.task-box div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-box div span {
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-right: 15px;
  cursor: pointer;
}

.task-box div span:hover {
  color: lightcoral;
}
