.form-add-task {
  margin: 20px;
}

.form-control {
  display: block;
  width: 99%;
  margin-bottom: 10px;
  padding: 6px;
  font-size: larger;
  border-radius: 5px;
}

.btn-block {
  margin-top: 15px;
}
